.background{
  width: 1440px;
  height: 866px;
  padding: 0 0 31px;
  background-image: url("image/background.jpg");
}
.logo {
  width: 115px;
  height: 32px;
  margin: 4px 0 0 3px;
  padding: 4px 7px 0 3px;
}

.play {
width: 135px;
height: 40px;
flex-grow: 0;
margin: 2px 12px 0 198px;
background-color: #a6a6a6;
}

.bg{
  width: 1440px;
height: 450px;
margin: 0 0 368px;
background-color: #f4e4cf;
}

.titre{
width: 1440px;
height: 450px;
margin: 0 0 368px;
background-color: #f4e4cf;
}

.headingimg{
  width: 640px;
  height: 492px;
  margin: 234px 0 92px;
}
h1{
  width: 445px;
  height: 128px;
  flex-grow: 0;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #18191f;
}
